@import "styles/mixins";

.section {
  position: relative;
  overflow: hidden;
  flex-wrap: nowrap;
  margin-top: 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.field {
  @apply m-3 mb-5 flex;
}

.form {
  @apply flex flex-wrap justify-end;
}
